{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="columns">
    <div class="column">
      <h3>Messages</h3>
      <table>
        <thead>
        <tr>
          <th width="20%"></th><th width="70%"></th><th width="10%"></th>
        </tr>
        
        </thead>
        <tbody>
        {% for item in messages %}
        <tr>
          <td>
            <time>{{item.timestamp|date:"yyyy-MM-dd HH:mm"}}</time>
          </td>
          <td>
            <a href="post/{{item.id}}">
              {{item.title}}
            </a>
          </td>
          <td>
            <form style="padding: 0" method="POST" action="/like" id="form{{item.id}}">
              {% csrf-field %}
                <input form="form{{item.id}}" class="input" type="hidden" name="id-user" value={{id-user}}
                       placeholder="name"/>
                <input form="form{{item.id}}" class="input" type="hidden" name="id-post" value={{item.id}}>
              <button class="button" form="form{{item.id}}" type="submit">
                  <i class="fas fa-thumbs-up"></i> <i style="padding-left: 5px">{{item.likes}}</i>
              </button>
            </form>
          </td>

        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <form method="POST" action="/" id="createPost">
        {% csrf-field %}
        <p>
          Title:
          <input form="createPost" class="input" type="text" name="title" value="{{title}}"/>
        </p>
        {% if errors.title %}
        <div class="notification is-danger">{{errors.title|join}}</div>
        {% endif %}
        <p>
          Message:
          <textarea form="createPost" class="textarea" name="message">{{message}}</textarea>
        </p>
        {% if errors.message %}
        <div class="notification is-danger">{{errors.message|join}}</div>
        {% endif %}
        <input form="createPost" type="submit" class="button is-primary" value="comment"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}